@use './media' as *;
@use './mixin' as *;

html {
  scrollbar-gutter: stable;
  scroll-behavior: smooth;

  &::-webkit-scrollbar {
    width: 0;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background-color: transparent;
    border-radius: 20px;
  }
}

.page {
  background-color: var(--bg-light);
  font-family: var(--font-family);
  font-size: var(--font-size-body);
  font-weight: 500;
  color: var(--dark);
  min-width: 320px;
  margin: 0 auto;
  position: relative;

  &--second {
    padding-top: clamp(8px, 2.5vw, 48px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: clamp(24px, 3vw, 48px);

    .container {
      --container-padding: 24px;

      max-width: var(--container-width);
      width: 100%;
      padding-inline: var(--container-padding);
      margin-inline: auto;
      position: relative;
      box-sizing: border-box;

      @include desktop {
        max-width: calc(100vw - (var(--container-padding) * 2));
      }

      @include tablet {
        max-width: var(--container-width);
      }
    }

    .logo-main__text {
      @include tablet-bottom {
        display: none;
      }
    }

    .footer {
      padding: 0 0 32px;
      width: 100%;
      display: flex;
      justify-content: space-between;
      box-sizing: border-box;

      @include tablet-bottom {
        padding-inline: 32px;
      }
    }
  }
}

.main {
  &--second {
    display: flex;
    flex-direction: column;
    gap: 48px;

    @include tablet-bottom {
      gap: 32px;
    }
  }
}

.page-wrapper {
  flex-grow: 1;
  background-color: var(--white);
  border-radius: var(--br-l);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  max-width: calc(var(--container-width) + (var(--container-padding) * 2));
  width: 100%;
  padding-inline: var(--container-padding);
  margin-inline: auto;
  position: relative;

  @include desktop {
    max-width: calc(100vw - (var(--container-padding) * 2));
  }

  @include tablet {
    max-width: var(--container-width);
  }
}

.container-mini {
  max-width: calc(872px + (var(--container-padding-mini) * 2)) !important;
  width: 100% !important;
  padding-block: var(--section-offset);
}

.section {
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  height: 100vh;

  @include tablet {
    height: 100dvh;
  }

  &--fixed {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 99;

    @include tablet {
      height: 100dvh;
    }
  }
}

.for-mobile-wrapper {
  height: auto;
  scrollbar-width: none;
  scrollbar-color: transparent transparent;
  padding-bottom: env(safe-area-inset-bottom);

  &::-webkit-scrollbar {
    width: 0;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background-color: transparent;
    border-radius: 20px;
  }

  &.fixed-section {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 11;
    padding-bottom: env(safe-area-inset-bottom);
  }

  .section-last-wrapper {
    min-height: 100%;
    scrollbar-width: none;
    scrollbar-color: transparent transparent;
    -ms-overflow-style: none;

    // от бага
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;

    &::-webkit-scrollbar {
      width: 0;
    }

    &::-webkit-scrollbar-track {
      background: transparent;
    }

    &::-webkit-scrollbar-thumb {
      background-color: transparent;
      border-radius: 20px;
    }

  }

  @include tablet {
    height: 100dvh;
    overflow: hidden;
  }
}

#section-3,
#section-4 {
  scrollbar-width: none;
  scrollbar-color: transparent transparent;


  &::-webkit-scrollbar {
    width: 0;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background-color: transparent;
    border-radius: 20px;
  }

  @include tablet {
    height: auto;
  }
}

.section-last-wrapper {
  overflow-y: auto;
  height: 100%;
  scrollbar-width: none;
  scrollbar-color: transparent transparent;


  &::-webkit-scrollbar {
    width: 0;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background-color: transparent;
    border-radius: 20px;
  }
}

#section-3 {

  @include tablet {
    overflow-y: hidden;
  }

}

#section-4.container {
  @include mobile {
    padding-inline: 0;
    max-width: 100%;
  }
}

#section-4 .section-last-wrapper {

  @include tablet {
    overflow-y: hidden;
  }

}

.base-btn {
  width: fit-content;
  padding: 10px;
  border-radius: var(--br-s);
  border: none;
  box-sizing: border-box;
  box-shadow: 0 16px 24px 0 rgba(0, 0, 0, 0.1);
  background-image: linear-gradient(180deg, var(--blue) 0%, #1263da 100%);
  font-size: 15px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: -0.03em;
  color: var(--white);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  text-decoration: none;
  cursor: pointer;
  opacity: 1;
  transition: 0.5s;

  @include hover {
    background-image: linear-gradient(180deg, #1263da 0%, #599cff 100%);
    box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.15);
  }

  @include tablet-bottom {
    gap: 8px;
    font-size: 13px;
    line-height: 18px;
  }

  @include mobile-bottom {
    padding-block: 7px;
  }

  p {
    margin: 0;
  }
}

.second-btn {
  width: fit-content;
  padding: 0;
  border: none;
  background-color: transparent;
  font-size: 15px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: -0.03em;
  color: var(--dark);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  text-decoration: none;
  transition: 0.5s;
  cursor: pointer;

  p {
    margin: 0;
  }

  span {
    width: 22px;
    height: 16px;

    svg {
      width: 22px;
      height: 16px;
    }
  }

  @include hover {
    color: var(--blue);
  }

  @include tablet-bottom {
    gap: 8px;
    font-size: 13px;
    line-height: 18px;
  }

  @include mobile-bottom {
    .margin-min {
      margin-right: -8px;
    }
  }
}

.btn-back {
  display: flex;
  align-items: center;
  gap: 8px;
  text-decoration: none;
  color: inherit;
  cursor: pointer;
  transition: 0.3s;

  @include hover {
    color: var(--blue);
  }

  &__icon {
    width: 22px;
    height: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__text {
    margin: 0;
    font-size: 13px;
    line-height: 18px;
    letter-spacing: -0.03em;

    @include mobile {
      span {
        display: none;
      }
    }

  }
}

.title-l {
  font-size: 48px;
  margin: 0;
  font-weight: 800;
  line-height: 1;
  letter-spacing: -0.06em;
  text-transform: uppercase;
  color: var(--dark);

  &.slide__title {
    @include desktop {
      font-size: 32px;
    }
  }

  &.slider-main__title {
    @include desktop {
      font-size: 32px;
    }

    @include tablet-bottom {
      font-size: 24px;
    }
  }


  @include tablet {
    line-height: 95%;

    &.slider-main__title {
      line-height: 1;
    }

    &.faq__title {
      line-height: 1;
      font-size: 32px;
    }
  }
}

.title-s {
  margin: 0;
  font-size: 20px;
  font-weight: 800;
  line-height: 100%;
  letter-spacing: -0.05em;
  text-transform: uppercase;

  &.hero__info-text {
    @include desktop {
      font-size: 15px;
      font-weight: 700;
    }

    @include mobile {
      font-size: 16px;
    }
  }

  @include tablet-bottom {
    font-size: 16px;
  }
}

.text-light {
  @include fluid-text(13, 12);
  line-height: 138%;
  letter-spacing: -0.03em;
  color: var(--light);
}