@use './media' as *;

:root {
  --white: #fff;
  --white-trans: rgba(255, 255, 255, 0.5);
  --dark: #1a1c28;
  --light: #9396b5;
  --blue: #599cff;
  --green: #b2ee51;
  --bg-light: #f2f2f2;
  --negative: #e90482;

  --font-family: "Wix Madefor Display", sans-serif;
  --font-size-body: 15px;

  --br-xs: 6px;
  --br-s: 10px;
  --br-m: 24px;
  --br-l: 32px;

  --container-width: 1272px;
  --container-padding: 48px;
  --section-padding: 48px;
  --section-offset: 96px;
  --controls-margin: 40px;

  @media screen and (max-height: 740px) and (max-width: 1600px) {
    --controls-margin: 16px;
    --section-offset: 80px;
  }



  @include desktop {
    // --container-width: 1184px;
    --section-offset: 64px;
    --controls-margin: 16px;
  }

  @media screen and (min-height: 1000px) and (max-width: 1440px) {
    --controls-margin: 24px;
    --section-offset: 104px;
  }

  @include laptop {
    --section-offset: 48px;
  }

  @include tablet {
    --container-padding: 24px;
    --container-width: calc(100% - (2 * var(--container-padding)));
  }

  @include tablet-bottom {
    --container-padding: 16px;
    --section-padding: 24px;
    --controls-margin: 16px;
    --br-l: 24px;
  }

  @include mobile {
    --section-offset: 32px;
  }
}