@use '../media' as *;
@use '../mixin' as *;

.faq {
  margin: 0 auto var(--section-offset);
  max-width: var(--container-width);
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr auto;
  grid-template-areas:
    'title qa'
    'btn qa';
  gap: 48px 16px;
  position: relative;

  @media screen and (max-width: 1200px) {
    gap: 16px;
  }

  @include tablet {
    max-width: 100%;
    width: 100%;
  }

  @include tablet-bottom {
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
      'title'
      'qa'
      'btn';
    justify-items: center;
    // margin: 0 auto
  }

  @include mobile {
    // margin: 0;
  }

  &__title {
    grid-area: title;
    width: fit-content;
    display: flex;
    flex-direction: column;

    span {
      width: 100%;
    }

    span:last-child {
      text-align: right;
    }

    @include tablet-bottom {
      width: 100%;
      flex-wrap: wrap;

      span {
        width: fit-content;
      }

    }
  }

  &__else-ask {
    grid-area: btn;

    p {
      margin-block: 0 24px;
    }

    .base-btn {
      width: 180px;
    }

    @include tablet-bottom {
      margin-right: 0;
      width: 100%;
      display: flex;
      align-items: center;
      gap: 32px;

      p {
        margin-block: 0;
        font-size: 16px;
      }

      .base-btn {
        width: 156px;
      }
    }

    @include mobile {
      gap: 16px;
      justify-content: space-between;
    }
  }

  &__questions {
    grid-area: qa;
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: flex-start;

    @include tablet-bottom {
      width: 100%;
      gap: 4px;
    }
  }

  &__item {
    width: 100%;
    padding: 32px 28px;
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.02);
    background-color: var(--white);
    border-radius: var(--br-l);
    box-sizing: border-box;
    // cursor: pointer;
    // position: relative;
    transition:
      max-width 0.7s cubic-bezier(0.4, 0, 0.2, 1);
    transform: translateX(0);

    &.a1 {
      max-width: 380px;
    }

    &.a2 {
      max-width: 545px;
    }

    &.a3 {
      max-width: 365px;
    }

    &.a4 {
      max-width: 525px;
    }

    &.a5 {
      max-width: 385px;
    }

    &.open {
      transition: max-width 0.7s cubic-bezier(0.4, 0, 0.2, 1);

      &.a1,
      &.a2,
      &.a3,
      &.a4,
      &.a5 {
        max-width: 100%;
      }

      .faq__item-body {
        max-width: 92%;
      }
    }

    @include hover {
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
    }

    @include tablet {
      padding: 24px 16px;
    }

    @include tablet-bottom {

      &.a1,
      &.a2,
      &.a3,
      &.a4,
      &.a5 {
        max-width: 100%;
      }

      // width: calc(100% - 32px);
      padding: 16px;
    }

    @include mobile {
      width: 100%;
    }
  }

  &__item-head {
    background-color: var(--white);
    border-radius: var(--br-l);
    width: fit-content;
    cursor: pointer;
    position: relative;
    display: flex;
    align-items: center;
    gap: 16px;

    p {
      font-size: 15px;
      margin: 0;
      font-weight: 700;
      line-height: 20px;
      letter-spacing: -0.03em;

      @include mobile {
        font-size: 13px;
        line-height: 18px;
      }
    }
  }

  &__item-icon {
    flex-shrink: 0;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;


    @include tablet {
      width: 13px;
      height: 13px;
    }

    div {
      width: 13.5px;
      height: 13.5px;
    }

    span {
      position: absolute;
      top: calc(50% - 1px);
      left: 0;
      width: 13.5px;
      height: 1.5px;
      border-radius: var(--br-l);
      background-color: var(--blue);
      transition: 0.3s;

      @include tablet {
        width: 13px;
        height: 2px;
      }

      &:last-child {
        left: 0.25px;
        height: 1.7px;
        transition: .5s ease-in-out;
        transform: rotate(-90deg);
      }
    }
  }

  &__item-body {
    overflow: hidden;
    display: grid;
    grid-template-rows: 0fr;
    margin-left: 36px;
    margin-top: 0;
    padding-right: 28px;
    opacity: 0;

    transition:
      margin-top 0.7s cubic-bezier(0.4, 0, 0.2, 1),
      max-width 0.7s cubic-bezier(0.4, 0, 0.2, 1),
      opacity 0.5s cubic-bezier(0.4, 0, 0.2, 1),
      grid-template-rows 0.7s cubic-bezier(0.4, 0, 0.2, 1);

    p {
      width: 100%;
      @include fluid-text(15, 13);
      margin: 0;
      line-height: 133%;
      letter-spacing: -0.03em;
    }

    @include tablet {
      padding-right: 0;
    }

    @include tablet-bottom {
      width: 100%;
    }
  }

  &__wrapper-body {
    min-height: 0;
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  &__item.open .faq__item-icon {
    span {
      background-color: var(--dark);
    }

    span:last-child {
      transform: rotate(0deg);
      opacity: 0;
    }
  }

  &__item.open .faq__item-body {
    grid-template-rows: 1fr;
    margin-top: 32px;
    opacity: 1;

    @include tablet-bottom {
      max-width: 94%;
      width: auto;
      margin-top: 16px;
    }
  }
}

.faq__title,
.faq__else-ask,
.faq__item,
.together__item {
  opacity: 1;
  /* ИЗНАЧАЛЬНО видим */
  // transform: none;
}