@use '../media' as *;
@use '../mixin' as *;

.faq {
  margin: 0 auto var(--section-offset);
  max-width: var(--container-width);
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr auto;
  grid-template-areas:
    'title qa'
    'btn qa';
  gap: 48px 16px;
  position: relative;
  // will-change: height;

  @media screen and (max-width: 1200px) {
    gap: 16px;
  }

  @include tablet {
    padding-inline: 16px;
    width: 100%;
  }

  @include tablet-bottom {
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
      'title'
      'qa'
      'btn';
    justify-items: center;
  }

  &__title-wrapper {
    @include tablet-bottom {
      display: contents;
    }
  }

  &__title {
    grid-area: title;
    width: fit-content;
    display: flex;
    flex-direction: column;

    span {
      width: 100%;
    }

    span:last-child {
      text-align: right;
    }

    @include tablet-bottom {
      width: 100%;
      flex-wrap: wrap;
      flex-direction: row;

      span {
        width: fit-content;
      }

    }
  }

  &__else-ask {
    grid-area: btn;

    p {
      margin-block: 0 24px;
    }

    .base-btn {
      width: 180px;
      justify-content: space-between;
    }

    @include tablet-bottom {
      margin-right: 0;
      width: 100%;
      display: flex;
      align-items: center;
      gap: 32px;

      p {
        margin-block: 0;
        font-size: 16px;
      }

      .base-btn {
        padding: 7px 12px;
        position: relative;

      }
    }

    @include mobile {
      gap: 16px;
      display: grid;
      grid-template-columns: 1fr 1.1fr;

      .base-btn {
        max-width: 200px;
        width: 100%;
      }
    }

    @include mobile-bottom {
      grid-template-columns: 160px 1fr;

      .base-btn {
        max-width: 160px;
        width: 100%;
      }
    }


    @media screen and (max-width: 360px) {
      grid-template-columns: 125px 1fr;

      p {
        font-size: 14px;
      }
    }
  }

  &__questions {
    grid-area: qa;
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: flex-start;

    @include tablet-bottom {
      width: 100%;
      gap: 4px;
    }
  }

  &__item {
    width: 100%;
    padding: 32px 28px;
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.02);
    background-color: var(--white);
    border-radius: var(--br-l);
    box-sizing: border-box;
    will-change: width;

    // &:not(:last-child) {
    //   transition:
    //     max-width 0.3s cubic-bezier(0.4, 0, 0.2, 1);
    // }

    &.a1 {
      max-width: 480px;
    }

    &.a2 {
      max-width: 450px;
    }

    &.a3 {
      max-width: 405px;
    }

    &.a4 {
      max-width: 390px;
    }

    &.a5 {
      max-width: 370px;
    }

    &.a6 {
      max-width: 425px;
    }

    &.a7 {
      max-width: 430px;
    }

    &.a8 {
      max-width: 460px;
    }

    &.a9 {
      max-width: 315px;
    }

    &.open {
      // transition: max-width 0.7s cubic-bezier(0.4, 0, 0.2, 1);

      &.a1,
      &.a2,
      &.a3,
      &.a4,
      &.a5,
      &.a6,
      &.a7,
      &.a8,
      &.a9 {
        max-width: 100%;
      }

      .faq__item-icon div {
        transform: rotate(180deg);
        background-image: url('../img/faq-minus.svg');
      }

      .faq__item-body {
        max-width: 92%;
      }
    }

    @include hover {
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
    }

    @include tablet {
      padding: 24px 16px;
    }

    @include tablet-bottom {

      &.a1,
      &.a2,
      &.a3,
      &.a4,
      &.a5,
      &.a6,
      &.a7,
      &.a8,
      &.a9 {
        max-width: 100%;
      }

      padding: 16px;
    }

    @include mobile {
      width: 100%;
    }
  }

  &__item-head {
    background-color: var(--white);
    border-radius: var(--br-l);
    width: fit-content;
    cursor: pointer;
    position: relative;
    display: flex;
    align-items: center;
    gap: 16px;

    p {
      font-size: 15px;
      margin: 0;
      font-weight: 700;
      line-height: 20px;
      letter-spacing: -0.03em;

      @include mobile {
        font-size: 13px;
        line-height: 18px;
      }
    }
  }

  &__item-icon {
    flex-shrink: 0;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;



    @include tablet {
      height: 18px;
    }

    div {
      width: 100%;
      height: 100%;
      background-image: url('../img/faq-plus.svg');
      transition: transform 0.5s ease;
    }
  }

  &__item-body {
    overflow: hidden;
    margin-left: 36px;
    margin-top: 0;
    padding-right: 28px;
    opacity: 0;
    will-change: height, opacity;

    p {
      width: 100%;
      @include fluid-text(15, 13);
      margin: 0;
      line-height: 133%;
      letter-spacing: -0.03em;
    }

    @include tablet {
      padding-right: 0;
    }

    @include tablet-bottom {
      width: 100%;
    }
  }

  &__wrapper-body {
    min-height: 0;
    display: flex;
    flex-direction: column;
    gap: 16px;

    ul {
      margin: 0;
      list-style: none;
      padding-left: 20px;

      li {
        position: relative;
        margin-bottom: 12px;
        font-size: 15px;
        line-height: 20px;
        font-weight: 500;
        letter-spacing: -0.03em;

        @include tablet-bottom {
          margin-bottom: 8px;
          font-size: 13px;
          line-height: 18px;
        }

        &::before {
          content: "";
          position: absolute;
          left: -20px;
          top: 0;
          width: 12px;
          height: 18px;
          background: url('../img/faq-marker.png') center/contain no-repeat;
        }
      }
    }
  }

  &__item.open .faq__item-icon {
    span {
      background-color: var(--dark);
    }

    span:last-child {
      transform: rotate(0deg);
      opacity: 0;
    }
  }

  &__item.open .faq__item-body {
    // grid-template-rows: 1fr;
    margin-top: 32px;
    opacity: 1;

    @include tablet-bottom {
      max-width: 94%;
      width: auto;
      margin-top: 16px;
    }
  }
}

.faq__title,
.faq__else-ask,
.faq__item,
.together__item {
  opacity: 1;
}