@use '../media' as *;
@use '../mixin' as *;

.hero {
  height: 100vh;
  width: 100%;
  overflow: hidden;
  position: relative;

  @include tablet {
    height: 100dvh;
  }

  &__fix-wrapper {
    position: fixed;
    width: fit-content;
    height: 100vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;

    @include tablet {
      align-items: flex-end;
    }

    @include tablet-bottom {
      align-items: flex-start;
      padding-top: 154px;
    }

    @media screen and (max-width: 360px) {
      padding-top: 130px;
    }
  }

  &__content {
    flex-shrink: 0;
    max-width: 600px;
    width: 100%;
    margin-left: var(--controls-margin);
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 32px;

    @media screen and (max-height: 680px) and (max-width: 1600px) {
      gap: 8px;
    }

    @include tablet {
      margin-bottom: 12vh;
    }

    @include tablet-bottom {
      margin-bottom: 0;
      max-width: 330px;
    }

    @include mobile {
      gap: 24px;
    }
  }

  &__title {
    margin: 0;
    margin-left: -12px;
    font-weight: 800;
    font-size: 116px;
    line-height: 80%;
    letter-spacing: -0.09em;
    text-transform: uppercase;
    text-align: center;
    color: var(--white);

    @include tablet-bottom {
      font-size: 96px;
      margin-left: -4px;
      text-orientation: mixed;
      writing-mode: sideways-lr;
      text-align: left;
    }

    @include mobile {
      font-size: clamp(36px, 9dvh, 90px)
    }

    @media screen and (max-width: 600px) and (max-height: 740px) {
      font-size: clamp(36px, 7dvh, 90px)
    }

    @media screen and (max-width: 460px) and (max-height: 860px) {
      font-size: clamp(36px, 8dvh, 90px)
    }

    @media screen and (max-width: 435px) and (max-height: 760px) {
      font-size: clamp(36px, 6dvh, 90px)
    }

    @media screen and (max-width: 415px) and (max-height: 860px) {
      font-size: clamp(36px, 7dvh, 90px)
    }

    @include mobile-bottom {
      font-size: clamp(36px, 7.5dvh, 90px)
    }

    @media screen and (max-width: 395px) and (max-height: 750px) {
      font-size: clamp(36px, 6.5dvh, 90px)
    }

    @media screen and (max-width: 380px) and (max-height: 700px) {
      font-size: 38px;
    }

    @media screen and (max-width: 360px) {
      font-size: 30px;
    }
  }

  &__info {
    max-width: 600px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 22px;

    &>p:last-child {
      min-width: 270px;
      width: fit-content;
      text-align: right;

      @include tablet-bottom {
        min-width: auto;
      }
    }

    @media screen and (max-height: 680px) and (max-width: 1440px) {
      p:first-child {
        display: none;
      }

      span:nth-of-type(1) {
        display: none;
      }
    }

    @include tablet-bottom {
      max-width: 200px;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      gap: 2px;

      p:first-child {
        display: none;
      }



      span {
        display: none;
      }
    }
  }

  &__info-text-wrapper {
    display: flex;
    align-items: center;

    @include tablet-bottom {
      gap: 1px;
    }

    img {
      display: none;
      width: 51px;
      height: 32px;

      @include tablet-bottom {
        display: inline-flex;
      }
    }

  }

  &__info-text {
    margin: 0;
    color: var(--white);

    @include tablet-bottom {
      font-size: 16px;
      text-align: left !important;
    }
  }

  &__benf {
    display: grid;
    grid-template-columns: 168px 1fr;
    grid-template-rows: 106px;
    gap: 24px;

    @include tablet-bottom {
      display: flex;
    }
  }

  &__benf-card {
    width: 100%;

    @include tablet-bottom {
      display: none;
    }

    img {
      width: 168px;
      height: auto;
      object-fit: cover;
      object-position: center;
    }
  }

  &__benf-list {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }

  &__benf-item {
    width: fit-content;
    height: 36px;
    box-sizing: border-box;
    border: 1.50px solid var(--white);
    border-radius: var(--br-s);
    padding: 7px 11px;
    display: flex;
    align-items: center;
    gap: 8px;
    line-height: 20px;

    &:not(:nth-child(1), :nth-child(2), :nth-child(3)) {
      margin-top: -0.75px;
    }

    @include tablet-bottom {
      height: 32px;
    }

    p {
      margin: 0;
      line-height: 20px;
      letter-spacing: -0.03em;
      color: var(--white);

      @include tablet-bottom {
        font-size: 13px;
        line-height: 18px;
      }

    }

    span {
      width: fit-content;
      padding: 4px 8px;
      background-color: var(--white);
      border-radius: var(--br-xs);
      font-weight: 700;
      line-height: 20px;
      letter-spacing: -0.03em;
      color: var(--dark);


      @include tablet-bottom {
        font-size: 13px;
        line-height: 18px;
        font-weight: 500;
      }
    }

    &.empty {
      flex-grow: 1;

      @include tablet-bottom {
        flex-grow: 0;
        width: 32px;
        height: 32px;
      }
    }

    &.empty.min {
      width: 40px;
      flex-grow: 0;
      padding: 0;

      @include tablet-bottom {
        width: 32px;
        height: 32px;

        &.order-6 {
          order: -6;

          @include tablet-bottom {
            margin-top: 0;
          }
        }
      }
    }

    &.with-block {
      margin-left: -0.8px;
      padding: 2px 2.5px;
      padding-right: 12px;

      &.link {
        text-decoration: none;
        color: inherit;
        cursor: pointer;
      }
    }

    &.order-5 {
      @include tablet-bottom {
        order: -5;
        margin-left: -0.75px;
      }
    }

    &.order-4 {
      @include tablet-bottom {
        order: -4;
        margin-top: -0.75px;
      }
    }

    &.order-3 {
      margin-left: -0.8px;

      @include tablet-bottom {
        order: -3;
        margin-top: -0.75px;
      }
    }

    &.order-2 {
      @include tablet-bottom {
        order: -2;
        margin-left: -0.75px;
      }
    }

    &.order-1 {
      margin-left: -0.8px;

      @include tablet-bottom {
        order: -1;
      }
    }

    &.order-0 {
      margin-left: -0.8px;

      @include tablet-bottom {
        display: none;
      }
    }

    &:last-child {
      background-color: var(--white);
      padding: 1px 2px;
      padding-left: 12px;
      transition: 0.9s;

      @include tablet-bottom {
        padding: 4px 4px 4px 12px;
      }

      p {
        color: var(--dark);
      }

      span {
        padding: 6px;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        overflow: hidden;

        @include tablet-bottom {
          padding: 4px;
        }

        &::before {
          content: '';
          position: absolute;
          inset: 0;
          background-image: linear-gradient(180deg, #599cff 0%, #1263da 100%);
          opacity: 1;
          transition: opacity 0.3s ease-in-out;
        }

        &::after {
          content: '';
          position: absolute;
          inset: 0;
          background-image: linear-gradient(180deg, #1263da 0%, #599cff 100%);
          opacity: 0;
          transition: opacity 0.3s ease-in-out;
        }

        svg {
          position: relative;
          z-index: 2;
        }
      }
    }

    @include hover {
      span::before {
        opacity: 0;
      }

      span::after {
        opacity: 1;
      }

    }
  }

  &__blur {
    position: fixed;
    width: 100%;
    height: 100%;
    opacity: 0;
    background-color: transparent;
    backdrop-filter: blur(0);
    will-change: transform;
    transform: translateZ(0);
  }

}

.first-wrapper {
  position: relative;
  z-index: 8;

  &__img {
    height: calc(100% + 80px);
    width: calc(100% + 80px);
    position: fixed;
    top: 0;
    z-index: -1;
    pointer-events: none;
    background-color: #000015;
    top: -40px;
    left: -40px;

    img {
      width: 100%;
      height: 100%;

      object-fit: cover;
      object-position: top center;
      will-change: transform;

      @media screen and (max-height: 740px) and (max-width: 1600px) {
        object-position: center 40%;
      }

      @include mobile {
        width: 98%;
        height: 100%;
        object-position: 47% -10px;
      }
    }
  }
}

.img-gradient,
.img-paralax {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  will-change: transform;
  transform: translateZ(0);
  backface-visibility: hidden;
}

.img-gradient {}

.img-paralax {
  will-change: transform;
  transform: translateZ(0);
  backface-visibility: hidden;

  &--l1 {
    animation: particles-opacity 10s ease infinite;
  }

  &--l2 {
    animation: particles-opacity 16s ease infinite;
  }

  &--l3 {
    animation: particles-opacity 22s ease infinite;
  }

  &--l4-d {
    opacity: 1;
  }

  &--l4-light-center {
    opacity: 0;
  }

  &--l4-light-right {
    opacity: 0;
  }
}

@keyframes particles-opacity {
  0% {
    opacity: 1;
  }

  25% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  75% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.comets-wrapper {
  position: absolute;
  top: -32%;
  right: 30%;
  // border: 3px solid #599cff;
  width: 25vw;
  height: 100vw;
  transform: rotate(45deg);
  pointer-events: none;

  @include desktop {
    width: 22vw;
  }

  @include tablet {
    width: 50vw;
    top: -5%;
    right: 55%;
  }

  @include mobile {
    width: 100%;
    height: 100%;
    top: 5%;
    right: 30%;
  }

  .img-comet {
    position: absolute;
    top: -30%;
    left: 0;
    transform: rotate(-45deg);
    object-fit: contain;

    animation-name: comet-fall;
    animation-timing-function: linear;
    animation-iteration-count: infinite;


    &--1 {
      width: 300px;
      height: 220px;
      animation-duration: 10s;
      animation-delay: 7s;
      left: 50%;

      @include desktop {
        left: 45%;
      }

      @include laptop {
        left: 28%;
      }

      @include tablet {
        left: 50%;
      }

      @include mobile {
        left: 40%;
      }
    }

    &--2 {
      width: 76px;
      height: 78px;
      left: 20%;
      animation-duration: 25s;
      animation-delay: 14s;
    }

    &--3 {
      width: 87px;
      height: 88px;
      left: 58%;
      animation-duration: 20s;
      animation-delay: 7s;


      @include mobile {
        left: 100%;
      }
    }

    &--4 {
      width: 63px;
      height: 67px;
      left: 35%;
      animation-duration: 24s;
      animation-delay: 24s;
    }

    &--5 {
      width: 50px;
      height: 54px;
      left: -2%;
      animation-duration: 26s;
      animation-delay: 0s;
    }
  }
}

@keyframes comet-fall {
  0% {
    transform: translateY(-5%) rotate(-45deg);
    opacity: 0;
  }

  10% {
    opacity: 1;
  }

  95% {
    opacity: 1;
  }

  100% {
    transform: translateY(180vh) rotate(-45deg);
    opacity: 0;
  }
}

.img-lightening {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  pointer-events: none;
  mix-blend-mode: screen;
}

.lightening-center,
.lightening-right {
  opacity: 0;
}

// центр
.lightning-center-active .lightening-center {
  opacity: 1;
}

.lightning-center-active .img-paralax--l4-light-center {
  opacity: 1;
}

.lightning-center-active .img-paralax--l4-d {
  opacity: 0;
}

// справа
.lightning-right-active .lightening-right {
  opacity: 1;
}

.lightning-right-active .img-paralax--l4-light-right {
  opacity: 1;
}

.lightning-right-active .img-paralax--l4-d {
  opacity: 0;
}

.first-wrapper.no-comets-animation {
  .img-comet {
    animation: none;
  }
}