@use '../media' as *;

.menu {
  position: fixed;
  z-index: 100;
  top: calc(100vh - var(--controls-margin) - 44px);
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;

  @include mobile {
    z-index: 110;
    top: calc(100dvh - var(--controls-margin) - 40px);
  }

  &__wrapper {
    border-radius: var(--br-s);
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0.02), rgba(255, 255, 255, 0.01));
    box-shadow: 0 16px 24px 0 rgba(0, 0, 0, 0.4),
      inset 0 1px 0 0 var(--white-trans);
    position: relative;

    &.white {
      box-shadow: 0 16px 24px 0 rgba(0, 0, 0, 0.1), inset 0 1px 0 0 var(--white-trans);
      background: linear-gradient(180deg, #fff 0%, rgba(255, 255, 255, 0.9) 10%, rgba(255, 255, 255, 0.8) 50%, rgba(255, 255, 255, 0.4) 100%);

      .menu__link {
        color: var(--dark);

        &.active {
          color: var(--white);
        }

        &:not(.active) {
          @include hover {
            background-image: linear-gradient(180deg, #fff 0%, #eaeaea 100%);
            box-shadow: none;
            color: var(--dark);
          }
        }
      }
    }
  }

  &__nav {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 4px;
    width: 596px;
    padding: 1px;
    border-radius: var(--br-s);
    border: 4px solid transparent;
    border-image: url('../img/boarder.svg');
    border-image-slice: 4;
    border-image-repeat: stretch;
    border-image-outset: 0;
    overflow: hidden;
    backdrop-filter: blur(3px);
    box-sizing: border-box;

    @include mobile {
      width: calc(100vw - 16px);
      gap: 0;
      border-width: 4px;
      border-image-slice: 5;
      padding: 0;
    }
  }

  &__link {
    padding-block: 10px;
    border-radius: var(--br-xs);
    font-weight: 700;
    font-size: 15px;
    line-height: 133%;
    letter-spacing: -0.03em;
    color: var(--white);
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s;
    cursor: pointer;
    user-select: none;
    position: relative;
    z-index: 2;

    &:not(.active) {
      @include hover {
        backdrop-filter: blur(6px);
        box-shadow: 0 16px 24px 0 rgba(0, 0, 0, 0.4), inset 0 1px 0 0 var(--white-trans);
        background: linear-gradient(180deg, rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0.15) 20.67%, rgba(255, 255, 255, 0.02) 58.17%, rgba(255, 255, 255, 0.01) 100%);
      }
    }

    @include mobile {
      padding-block: 5.5px;
      font-size: 13px;
      font-weight: 500;
    }

    @media screen and (max-width: 360px) {
      font-size: 12px;
    }
  }

  &__indicator {
    position: absolute;
    top: 0;
    left: 0;
    // height: calc(100% - 2px);
    height: 100%;
    width: calc(100% / 4 - 4px);
    border-radius: var(--br-xs);
    pointer-events: none;
    transition: none;

    box-shadow: inset 0 1px 0 0 var(--white-trans);
    background-image: linear-gradient(180deg, #5a5d70 0%, #1a1c28 100%);

    @include mobile {
      width: calc(100% / 4);
    }
  }
}