@use '../media' as *;
@use '../mixin' as *;

.numbers {
  height: 100vh;
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
  position: relative;

  @include mobile {
    height: 100dvh;
  }

  &__overlay {
    max-width: 100vw;
    height: 100%;
    margin: 0 auto;
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;
    opacity: 1;
    background: transparent;
    will-change: scroll-position;
    user-select: none;


    @include mobile {
      // justify-content: flex-end;
      height: 100dvh;
      gap: 12px;
    }

    &.section-fixed {
      position: fixed;
      top: 0;
      left: 0;
      width: 100vw;
      height: 100vh;
      z-index: 10;

      @include mobile {
        height: 100dvh;
      }
    }

    &.opacity {
      opacity: 0;
      transition: opacity 0.3s;
    }

  }


  &__back {
    position: absolute;
    top: 0;
    left: 0;
    background: url('../img/hero.png') top center/cover no-repeat;
    width: 100%;
    height: 100%;
  }


  &__items {
    margin: 0 auto;
    max-width: 1600px;
    width: 100%;
    display: grid;
    grid-template-columns: 1.15fr 0.7fr 1.15fr;
    align-items: center;
    position: relative;

    @include laptop {
      max-width: calc(100vw - (var(--container-padding) * 2));
    }

    @include tablet {
      max-width: 80%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 32px;
    }

    @include mobile {
      max-width: calc(100vw - (var(--container-padding) * 2));
      gap: 20px;
    }

    @media screen and (max-width: 380px) and (max-height: 760px) {
      gap: 16px;
    }

    @media screen and (max-width: 360px) {
      gap: 8px;
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    gap: 36px;

    @media screen and (max-height: 680px) and (max-width: 1500px) {
      gap: 8px;
    }

    @include tablet {
      width: 100%;
      flex-direction: row-reverse;
      align-items: center;
      gap: 48px;

      &:nth-child(1) {
        order: 1;
      }

      &:nth-child(2) {
        order: 3;
      }

      &:nth-child(3) {
        order: 2;
      }
    }

    @include tablet-bottom {
      gap: 0px;
    }

    // @supports (-webkit-touch-callout: none) {
    //   isolation: isolate;
    //   // overflow: hidden;
    //   position: relative;
    //   transform: translateZ(0);
    // }

    @include mobile {

      &:nth-child(1) .numbers__big-number,
      &:nth-child(3) .numbers__big-number {
        margin-right: -32px;
      }
    }


    @media screen and (max-width: 390px) {

      &:nth-child(1) .numbers__big-number,
      &:nth-child(3) .numbers__big-number {
        margin-right: 0;
      }
    }
  }

  // .numbers__bg-layer {
  //   display: none;

  //   @supports (-webkit-touch-callout: none) {
  //     display: block;
  //     width: 100vw;
  //     height: 100vh;
  //     position: absolute;
  //     inset: 0;
  //     z-index: 1;
  //     background: url('../img/hero.png') center / cover no-repeat;
  //     // background-attachment: scroll; // на iOS fixed всё равно не нужен

  //   }
  // }

  // &__svg-wrapper {
  //   width: 100%;
  //   height: clamp(120px, 30vw, 300px);
  // }

  // /* аналоги твоих брейкпоинтов */
  // @media (max-width: 460px) {
  //   .numbers__svg-wrapper {
  //     height: clamp(100px, 34vw, 150px);
  //   }
  // }

  // @media (max-width: 415px) and (max-height: 860px) {
  //   .numbers__svg-wrapper {
  //     height: clamp(90px, 27vh, 130px);
  //   }
  // }

  // @media (max-width: 360px) {
  //   .numbers__svg-wrapper {
  //     height: clamp(80px, 20vw, 130px);
  //   }
  // }


  &__mask {
    display: none;

    @supports (-webkit-touch-callout: none) {
      width: 100%;
      height: 100%;
      display: block;
    }

    @media screen and (max-width: 460px) {
      text {
        font-size: clamp(100px, 34dvw, 150px);
      }
    }

    @media screen and (max-width: 460px) and (max-height: 800px) {
      text {
        font-size: clamp(100px, 30dvw, 130px);
      }
    }

    @media screen and (max-width: 415px) and (max-height: 860px) {
      text {
        font-size: clamp(36px, 27dvh, 130px)
      }
    }

    @media screen and (max-width: 390px) {
      text {
        font-size: clamp(96px, 26dvw, 130px);
      }
    }

    @media screen and (max-width: 360px) {
      text {
        font-size: clamp(80px, 20dvw, 130px);
      }
    }


  }


  &__big-number {
    margin: 0;
    flex-grow: 1;
    padding-bottom: 32px;
    font-weight: 800;
    font-size: 220px;
    line-height: 75%;
    letter-spacing: -0.07em;
    text-transform: uppercase;
    text-align: center;
    color: rgba(255, 255, 255, 0.1);
    background: url('../img/hero.png') top center/cover no-repeat;
    background-clip: text;
    -webkit-background-clip: text;
    background-attachment: fixed;
    position: relative;
    z-index: 2;
    user-select: none;

    @supports (-webkit-touch-callout: none) {
      display: none;
    }

    // @supports (-webkit-touch-callout: none) {
    //   background: none;
    //   background-clip: unset;
    //   -webkit-background-clip: unset;
    //   background-attachment: unset;
    //   mix-blend-mode: luminosity;
    //   // mix-blend-mode: screen; // или luminosity / lighten — подбирай под дизайн
    //   color: rgba(255, 255, 255, 0.25);
    //   transform: translate3d(0, 0, 0);
    // }

    @include desktop-l {
      background-position: center 40%;
    }

    @include desktop {
      font-size: 180px;
    }

    @include tablet {
      font-size: 220px;
      padding-right: 16px;
      background-position: center 40%;
      text-align: right;
    }

    @include tablet-bottom {
      font-size: 200px;
    }

    @include mobile {
      text-align: right;
      font-size: 150px;
      padding-right: 8px;
      margin-right: -4px;
    }

    @media screen and (max-width: 460px) {
      font-size: clamp(100px, 34dvw, 150px);
    }

    @media screen and (max-width: 460px) and (max-height: 800px) {
      font-size: clamp(100px, 30dvw, 130px);
    }

    @media screen and (max-width: 415px) and (max-height: 860px) {
      font-size: clamp(36px, 27dvh, 130px)
    }

    @media screen and (max-width: 390px) {
      font-size: clamp(96px, 26dvw, 130px);
    }

    @media screen and (max-width: 360px) {
      font-size: clamp(80px, 20dvw, 130px);
    }
  }

  &__label {
    text-align: center;
    color: var(--white);

    @include tablet {
      width: 210px;
      text-align: left;
      padding-bottom: 16px;
      flex-shrink: 0;
    }

    @include mobile {
      width: 145px;
      font-size: 16px;
      margin-right: -42px;
      position: relative;
      z-index: 2;
    }

    @media screen and (max-width: 360px) {
      font-size: 13px;
    }

  }

  .base-btn {
    width: 288px;
    padding-inline: 16px;
    opacity: 0;
    transition: none;
    position: relative;
    bottom: -30px;

    @include tablet-bottom {
      width: 246px;
      padding: 7px 12px;
    }

    @include mobile {
      // margin-bottom: clamp(96px, 20dvh, 190px);
      // margin-bottom: 80px;
    }

    // @media screen and (max-width: 460px) and (max-height: 800px) {
    //   margin-bottom: clamp(96px, 18dvh, 160px);
    // }

    // @media screen and (max-width: 380px) and (max-height: 660px) {
    //   margin-bottom: 96px;
    // }

    span {
      width: 20px;
      height: 16px;
    }
  }
}