@use '../media' as *;

.service {
  // max-width: var(--container-width);
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  // z-index: 10;

  @media screen and (min-height: 1000px) and (max-width: 1440px) {
    margin: 0 auto;
  }

  @media screen and (max-height: 1000px) and (max-width: 1440px) {
    align-items: center;
  }

  @include desktop {
    // padding-top: var(--section-offset);
    // align-items: flex-start;
  }

  @include tablet {
    // padding-top: 0;
    height: 100%;
    max-width: 100vw;
  }

  &__wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 32px;
    margin-top: -80px;

    @include tablet {
      margin-top: 0;
    }

    @include mobile {
      gap: 16px;
    }
  }

  &__title {
    margin: 0 auto;
    padding-inline: var(--container-padding);
    max-width: calc(var(--container-width));
    width: 100%;

    @include desktop {
      max-width: calc(100vw - (var(--container-padding) * 2));
    }

    @include tablet {
      padding-inline: 0;
      padding-top: 24px;
      // max-width: calc(100vw - (var(--container-padding) * 2));

      &.title-l {
        // max-width: 85%;
        font-size: 48px;
      }
    }

    @include mobile {
      display: flex;
      flex-direction: column;
    }
  }

  &__content {
    max-height: clamp(340px, 57vh, 480px);
    height: 100%;
    max-width: var(--container-width);
    width: 100%;
    padding-inline: var(--container-padding);
    margin: 0 auto;

    @include desktop {
      max-width: calc(100vw - (var(--container-padding) * 2));
    }

    @include tablet {
      max-height: 100%;
    }
  }
}

.title-l {}

.service-swiper {
  display: block;
  max-width: var(--container-width);
  width: 100%;
  margin: 0 auto;
  height: 100%;
  // overflow: hidden;
  // position: relative;
  border-radius: var(--br-l);

  @include tablet {
    display: none;
  }

  &__wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    // gap: 4px;
  }

  &__slide {
    flex-shrink: 0;
    flex-grow: 1;
    width: 100%;
  }

  &__pagination {
    display: flex;
    gap: 16px;
    align-items: center;
    justify-content: center;
    pointer-events: none;
    position: absolute;
    bottom: -16px;
    left: 0;
    right: 0;

    @media screen and (max-height: 760px) {
      bottom: -8px;
    }

    @include tablet {
      display: none;
    }
  }

  &__pagination-dot {
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background: var(--dark);
    opacity: 0.2;
    transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1);

    &.active {
      opacity: 1;
    }
  }
}

.slide {
  max-width: var(--container-width);
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, minmax(460px, 632px));
  grid-template-rows: clamp(355px, 55vh, 480px);
  gap: 8px;
  border-radius: var(--br-l);

  @include desktop {
    max-width: calc(100vw - (var(--container-padding) * 2));
  }

  @include tablet {
    display: flex;
    flex-direction: column;
  }

  &__img {
    max-width: 632px;
    width: 100%;
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.02);
    background-color: var(--white);
    border-radius: var(--br-l);
    position: relative;
    opacity: 0;


    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
      border-radius: var(--br-l);
    }
  }



  &__content {
    padding: 64px;
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.02);
    background-color: var(--white);
    border-radius: var(--br-l);
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
  }

  &__body {
    width: min-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 24px;
  }

  &__title {
    margin: 0;
    flex-shrink: 0;
    min-width: 325px;
    display: flex;
    flex-direction: column;
    white-space: nowrap;

    span {
      width: 100%;
    }

    span:nth-child(2),
    span:nth-child(3) {
      text-align: right;
    }

    @include desktop {
      // max-width: fit-content;

      span:nth-child(2),
      span:nth-child(3) {
        text-align: left;
      }
    }
  }

  &__text {
    margin: 0;
    font-size: 15px;
    line-height: 133%;
    letter-spacing: -0.03em;
  }

  &__btn {
    width: 100%;

    .base-btn {
      width: 189px;

      @include mobile {
        max-width: 208px;
        width: 100%;
      }

      span {
        display: flex;
        align-items: center;
        justify-content: center;
      }

      p {
        margin: 0;
      }
    }
  }


  &--4 {
    .slide__title {
      min-width: 380px;
    }
  }
}

.slider-img.swiper-horizontal {
  touch-action: pan-y;
}

// .slider-main.swiper-horizontal {
//   touch-action: pan-x;
// }