@use '../media' as *;
@use '../mixin' as *;

.together {
  max-width: var(--container-width);
  padding-top: var(--section-offset);
  margin-bottom: var(--section-offset);
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 332px;
  gap: 8px;
  position: relative;
  z-index: 7;

  @media screen and (min-height: 1000px) and (max-width: 1440px) {
    margin: 0 auto var(--section-offset);
  }

  @include tablet-bottom {
    display: flex;
    flex-direction: column;
    gap: 4px;
  }

  &__item {
    background-color: var(--white);
    border-radius: var(--br-l);
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.02);
  }

  &__img {
    width: 100%;
    max-height: 100%;
    height: 100%;
    border-radius: var(--br-l);
    object-fit: cover;
    object-position: center;
  }

  &__content {
    // max-height: 100%;
    height: 100%;
    padding: 64px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto 1fr;
    grid-template-areas:
      'title .'
      '. subtitle'
      'btn .';
    overflow: hidden;

    @include tablet {
      padding: 32px;
    }
  }

  &__content-text {}

  &__content-title {
    grid-area: title;
    margin: 0;
  }

  &__content-subtitle {
    margin: 0;
    grid-area: subtitle;
    line-height: 133%;
    letter-spacing: -0.03em;
  }

  &__content-btn {
    grid-area: btn;
    margin-top: 24px;
    // max-height: 100%;
    height: fit-content;

    .base-btn {
      width: 100%;

      span:first-child {
        width: 20px;
        height: 16px;
      }
    }
  }

  &__card {
    position: absolute;
    bottom: -4px;
    right: 28px;
    max-width: 280px;
    max-height: auto;
    height: fit-content;
    // margin-top: 24px;


    img {
      // max-width: 256px;
      width: 280px;
      height: auto;
      // height: 100%;
      object-fit: cover;
      object-position: bottom;
      position: relative;
      bottom: 0;
    }
  }
}